{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <article class="bg-white p-4 rounded-3 shadow-sm">
        <h1 class="display-4 mb-3">{{ article.title }}</h1>
        <div class="metadata mb-4 d-flex align-items-center">
            <img src="https://ui-avatars.com/api/?name={{ article.author.fullname|url_encode }}&background=random" 
                 class="rounded-circle me-2" width="40" height="40" alt="{{ article.author.fullname }}">
            <small>
                Par <a href="{{ path('app_author', {id: article.author.id}) }}" 
                      class="text-decoration-none fw-bold">{{ article.author.fullname }}</a>
                le {{ article.publishedAt|date('d F Y') }}
                {% if article.sections|length > 0 %}
                    dans
                    {% for section in article.sections %}
                        <a href="{{ path('app_section', {slug: section.sectionSlug}) }}"
                           class="badge bg-secondary text-decoration-none">{{ section.sectionTitle }}</a>
                        {%- if not loop.last %}, {% endif -%}
                    {% endfor %}
                {% endif %}
            </small>
        </div>
        <div class="article-content">
            {{ article.text|nl2br }}
        </div>
    </article>
{% endblock %} 