{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Derniers articles</h1>
    
    {% for article in articles %}
        <article class="mb-4">
            <h2>{{ article.title }}</h2>
            <div class="metadata">
                <small>
                    By {{ article.author.fullname }} on {{ article.publishedAt|date('F j, Y') }}
                    {% if article.sections|length > 0 %}
                        in
                        {% for section in article.sections %}
                            <a href="{{ path('app_section', {slug: section.sectionSlug}) }}">
                                {{ section.sectionTitle }}
                            </a>
                            {%- if not loop.last %}, {% endif -%}
                        {% endfor %}
                    {% endif %}
                </small>
            </div>
            <p>{{ article.text|excerpt(300) }}</p>
            <a href="{{ path('app_article', {slug: article.titleSlug}) }}" class="btn btn-primary">
                Lire la suite
            </a>
        </article>
    {% endfor %}
{% endblock %} 