<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                
                {% set sections = get_all_sections() %}
                {% if sections is empty %}
                    <li class="nav-item">
                        <span class="nav-link">No sections found</span>
                    </li>
                {% else %}
                    {% for section in sections %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_section', {slug: section.sectionSlug}) }}">
                                {{ section.sectionTitle }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') starts with 'admin_' %}active{% endif %}" 
                               href="{{ path('admin_dashboard') }}">Administration</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">
                            Logout ({{ app.user.username }})
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'app_login' %}active{% endif %}" 
                           href="{{ path('app_login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav> 